---
title: Le Wagon - Middleman
---

<!-- <div id="home"> -->
  <!-- <div class="home-content"> -->
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
      <div class="banner-content">
        <h1>No place like home</h1>
        <p>find a place tailored to your needs</p>
        <div class="container">
          <form class="form-inline">
                <input type="text" class="form-control field" id="checkin" placeholder="check-in">
                <input type="text" class="form-control field" id="checkout" placeholder="check-out">
                <select id="people" name="people" class="form-control" placeholder="1 Person">
                  <option value="1p">1 Person</option>
                  <option value="2p">2 People</option>
                  <option value="3p">3 people</option>
                </select>
                <button type="submit" class="btn btn-success form-control field">Find you dream home!</button>
          </form>
        </div>
      </div>
    </div>
<div class="container">
  <div class="row">
    <% data.flats.each do |owner, flat| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
        <div class="card-category">Shanghai</div>
        <div class="card-description">
          <h2><%= flat.name %></h2>
          <p><%= flat.description %></p>
        </div>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"card-user" %>
        <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
  <!-- </div> -->
<!-- </div> -->
